.b-container {
	width:1220px;
	margin:0 auto;
	position:relative;
}

.b-container.m-content {
	min-height: 100%;
	margin-bottom: -39px; 
}

.b-container.m-content:after {
	content: "";
	display: block;
	height: 39px;
}

.b-content {
	background-image:url(../img/page-bg.jpg);
	background-position:0 152px;
	background-repeat:no-repeat;
	padding-top:152px;
	/* min-height:486px; */
}

/* b-content.m-internal { background-image:url(../img/page-bg-transparent.jpg); }*/
.b-content.m-internal { background-image:none }
.b-content.m-internal.m-no-bg { background-image:none; }
.b-content.m-internal.m-page-0 { padding:0 }

.b-content.m-internal.m-earn {
	background-image:url(../img/earn-rewards-bg.png);
	background-position:528px 224px
}

.b-logo {
	width:262px;
	height:208px;
	background:url(../img/logo.png) no-repeat;
	position:absolute;
	top:0px;
	left:-35px;
	z-index:2
}

.b-menu {
	width:auto;
	height:88px;
	background:url(../img/menu-grad.png) repeat-x;
	position:absolute;
	top:0;
	right:0;
	border:3px solid #042972;
	padding:0;
	margin:0;
	list-style:none;
	/*overflow:hidden;*/
	border-radius:0 0 10px 10px;
	border-top:0;
}

.b-menu__li {
	border-right:1px solid #0b7bc9;
	border-left:1px solid #00082d;
	float:left;
	height:88px;
}

.b-menu__li.m-1 { border-radius:0 0 0 8px; }
.b-menu__li.m-5 { border-radius:0 0 8px 0; }

.b-menu__link {
	display:block;
	color:#fff;
	text-shadow:1px 1px 1px #444;
	font-size:24px;
	line-height:88px;
	height:88px;
	text-align:center;
	text-decoration:none !important
}

.b-menu__link:visited { color:#fff; }

.b-menu__li.m-1 { width:154px; border-left:0; }
.b-menu__li.m-2 { width:185px; }
.b-menu__li.m-3 { width:124px; }
.b-menu__li.m-4 { width:104px; }
.b-menu__li.m-5 { width:100px; border-right:0; }

.b-menu__li.m-active,
.b-menu__li:hover { background-image:url(../img/menu-grad-active.png); }
	
	.m-active .b-menu__link,
	.b-menu__link:hover { color:#fff; text-shadow:1px 1px 1px #444;}

.b-menu__li.m-active.m-brown { background-image:url(../img/menu-grad-active-brown.png); }
	.m-active.m-brown .b-menu__link { color:#ffc14d }
	
.m-email .b-menu__link { background:url(../img/mail.png) 50% 50% no-repeat; }

.b-footer {
	height:39px;
	background:url(../img/footer-grad.png) repeat-x;
}

.b-footer__nav {
	color: #FFFFFF;
	font-size: 16px;
	left: 0;
	line-height: 38px;
	margin: 0;
	padding: 0;
	position: absolute;
	text-align: center;
	top: 0;
}
	.b-footer__nav a {
		margin-right:15px;
		color:#fff;
	}

	.b-footer__div { padding-right:15px; }
	
.b-footer__copy {
	color:#fff;
	font-size: 9px;
	line-height: 38px;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}

.b-footer__copy a { color:#fff }
	
/* PAGE 0 */
.b-page-0__img {
	padding-top:25px;
	padding-left:27px;
}
.b-page-0__title {
	color: #A20303;
	font-size: 24px;
	left: 220px;
	position: absolute;
	top: 46px;
}
	
.b-contact-link {
	height: 186px;
	left: 652px;
	position: absolute;
	top: 370px;
	width: 242px;
}

.b-hep-link {
	height: 191px;
	left: 547px;
	position: absolute;
	top: 177px;
	width: 236px;
}