.b-container {
	width:1220px;
	margin:0 auto;
	position:relative;
}

.b-container.m-content {
	min-height: 100%;
	margin-bottom: -39px; 
}

.b-container.m-content:after {
	content: "";
	display: block;
	height: 39px;
}

.b-content {
	background-image:url(../img/page-bg.jpg);
	background-position:0 152px;
	background-repeat:no-repeat;
	padding-top:152px;
	/* min-height:486px; */
}

/* b-content.m-internal { background-image:url(../img/page-bg-transparent.jpg); }*/
.b-content.m-internal { background-image:none }
.b-content.m-internal.m-no-bg { background-image:none; }
.b-content.m-internal.m-page-0 { padding:0 }

.b-content.m-internal.m-earn {
	background-image:url(../img/earn-rewards-bg.png);
	background-position:528px 224px
}

.b-logo {
	width:160px;
	height:95px;
	background:url(../img/logo.png) no-repeat;
	position:absolute;
	top:21px;
	left:282px;
	z-index:2
}

.b-menu {
	width:auto;
	height:88px;
	background:url(../img/menu-grad.png) repeat-x;
	position:absolute;
	top:0;
	right:0;
	border:3px solid #9b8d7b;
	padding:0;
	margin:0;
	list-style:none;
	border-radius:0 0 10px 10px;
	border-top:0;
	z-index:2
}

.b-menu__li {
	border-right:1px solid #9b8d7b;
	border-left:1px solid #9b8d7b;
	float:left;
	height:88px;
}

.b-menu__li.m-1 { border-radius:0 0 0 8px; }
.b-menu__li.m-5 { border-radius:0 0 8px 0; }

.b-menu__link {
	display:block;
	color:#fff;
	text-shadow:1px 1px 1px #444;
	font-size:24px;
	line-height:88px;
	height:88px;
	text-align:center;
	text-decoration:none !important
}

.b-menu__link:visited { color:#fff; }

.b-menu__li.m-1 { width:189px; border-left:0; }
.b-menu__li.m-2 { width:141px; }
.b-menu__li.m-3 { width:275px; }
.b-menu__li.m-5 { width:95px; border-right:0; }

.b-menu__li.m-active,
.b-menu__li:hover { background-image:url(../img/menu-grad-active.png); }
	
	.m-active .b-menu__link,
	.b-menu__link:hover { color:#fff; text-shadow:1px 1px 1px #444;}

.b-menu__li.m-active.m-brown { background-image:url(../img/menu-grad-active-brown.png); }
	.m-active.m-brown .b-menu__link { color:#ffc14d }
	
.m-email .b-menu__link { background:url(../img/mail.png) 50% 50% no-repeat; }

.b-footer {
	height:39px;
	background:url(../img/footer-grad.png) repeat-x;
}

.b-footer__nav {
	color: #FFFFFF;
	font-size: 9px;
	left: 0;
	line-height: 38px;
	margin: 0;
	padding: 0;
	position: absolute;
	text-align: center;
	top: 0;
}
	.b-footer__nav a {
		margin-right:15px;
		color:#fff;
	}

	.b-footer__div { padding-right:15px; }
	
.b-footer__copy {
	color:#fff;
	font-weight:700;
	font-size: 16px;
	line-height: 38px;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}
.b-footer__copy.m-email {
	padding-left:32px;
	background:url(../img/mail.png) 0 50% no-repeat;
}

.b-footer__copy.m-email a { color:#fff }

.b-page-bg {
	background: url("../img/page-bg.jpg") no-repeat scroll 0 0 transparent;
	height: 618px;
	left: -644px;
	position: absolute;
	top: 0;
	width: 1022px;
	z-index: 1;
}

/* INTRO page */
.b-intro {
	padding-top: 0;
	position: relative;
	left: -44px;
}
.b-intro__illustration {}
.b-intro__bg { 
	background: url("../img/repeat-bg.jpg") repeat-x scroll 100% 0 transparent;
	height: 583px;
	left: -600px;
	position: absolute;
	width: 1022px;
}

.b-intro__text {
	position: absolute;
	right: 0;
	top: 165px;
	width: 640px;
	text-align: center;
	color:#313131;
}
.b-intro__text h1 {
	font-size: 36px;
	margin-bottom: 60px;
	margin-top: 0;
}
.b-intro__text h2 {
	font-size: 32px;
	line-height: 43px;
	margin: 0;
}
.b-intro__button {
	width:388px;
	height:85px;
	background:url(../img/button.png);
	display:block;
	line-height:85px;
	color:#fff !important;
	text-align:center;
	font-size:28px;
	text-shadow:1px 1px 1px #444;
	font-weight:700;
	margin:60px auto 0;
	text-decoration:none !important
}

.b-intro__button.m-small  {
	background-size: 250px auto;
	font-size: 19px;
	height: 55px;
	left: 50%;
	line-height: 55px;
	margin-left: -125px;
	position: absolute;
	top: 450px;
	width: 250px;
}


/* HOW IT WORKS */
.b-hiw {
	background: url("../img/hiw.png") no-repeat scroll 38px 0 transparent;
	min-height: 320px;
	position: relative;
	z-index: 2;
	top:-21px
}
.b-hiw__label {
	color: #303030;
	font-size: 23px;
	position: absolute;
	text-align: center;
	z-index: 2;
	line-height: 25px;
	font-weight: 700;
	margin:0;
}
.b-hiw__label.m-1 {
	left: 2px;
	top: 176px;
}
.b-hiw__label.m-2 {
	top: 325px;
	left: 148px;
}
.b-hiw__label.m-3 {
	left: 351px;
	top: 116px;
	line-height: 26px;
	color:#fff;
	text-shadow:1px 1px 1px #444
}
.b-hiw__label.m-4 {
	left: 617px;
	top: 253px;
}
.b-hiw__label.m-5 {
	left: 872px;
	top: 89px;
}
.b-hiw__label.m-6 {
	left: 939px;
	top: 212px;
	font-size: 30px;
	width: 300px;
	line-height: 30px;
}

.b-hiw__learn {
	width: 354px;
	height: 114px;
	background: url(../img/learn-add-points.png) no-repeat;
	position: absolute;
	z-index: 3;
	color: #3d1f46;
	font-size: 23px;
	line-height: 170px;
	text-indent: 52px;
	font-weight: 700;
	text-shadow: 1px 1px 2px #eee;
	right: 12px;
	top: 278px;
	text-decoration:none !important
}

.b-tips {
	padding-top: 43px;
	position: relative;
	z-index: 2;
	padding-left: 119px;
	width:1101px
}

.b-tips__header {
	height:75px;
	background:url(../img/tips-header.png) repeat-x;
	position:absolute;
	z-index:1;
	width:1095px;
	border:3px solid #ac99b4;
	border-radius:4px
}

.b-tips__list {
	list-style:none;
	padding:0;
	margin:0;
	position:relative;
	z-index:2;
	overflow:hidden
}
	
.b-tips__li {
	border-right: 1px dotted #007218;
	float: left;
	margin-top: 81px;
	min-height: 300px;
	position: relative;
	width: 353px;
}
	
	.b-tips__li.m-3 { border-right: none; width:330px }
	.b-tips__li.m-2 { width:416px; }	
	
.b-tips__title {
	color: #381c40;
	font-size: 19px;
	height: 80px;
	left: 0;
	line-height: 17px;
	margin: 0;
	padding: 19px 0 0 15px;
	position: absolute;
	text-align: center;
	top: -87px;
	width: 100%;
}


.b-tips__diagramm {
	background: url("../img/earn-1.png") no-repeat scroll 58px 15px transparent;
	height: 208px;
	padding-left: 25px;
	padding-top: 50px;
	position: relative;
	font-weight:700;
}

.b-tips__diagramm-label {
	color:#4c4c4c;
	font-size:24px;
	position:absolute;
	margin:0;
}

.b-tips__diagramm-label.m-1 {
	left: 39px;
	top: 130px
}

.b-tips__diagramm-label.m-2 {
	left: 145px;
	top: 61px;
}

.b-tips__diagramm-label.m-3 {
	right: 18px;
	top: 133px;
}

.b-tips__diagramm-label.m-4 {
	left: 197px;
	top: 232px;
}

.b-tips__diagramm-label.m-5 {
	left: 40px;
	top: 230px;
}

.b-tips__share-with {
	width:348px;
	height:261px;
	background:url(../img/earn-2.png) 54px 6px no-repeat;
	padding-top:26px;
	padding-left:32px;
	position:relative
}

.b-tips__share-with-text {
	color:#4c4c4c;
	position:absolute;
	font-size:21px;
	margin:0;
	text-align:center;
	line-height:24px;
	font-weight:700
}

.b-tips__share-with-text.m-1 {
	left: 52px;
	top: 91px;
}
.b-tips__share-with-text.m-2 {
	left: 144px;
	top: 126px;
}
.b-tips__share-with-text.m-3 {
	left: 287px;
	top: 90px;
}
.b-tips__share-with-text.m-4 {
	left: 87px;
	top: 213px
}
.b-tips__share-with-text.m-5 {
	left: 238px;
	top: 214px;
}

.b-tips__certificate {
	padding-top: 6px;
	margin: 0 auto;
	display: block;
	position: relative;
	left: -10px;
}

.b-tips__arrow {
	width:69px;
	height:19px;
	background:url(../img/tips-arrow.png);
	display:block;
	position:absolute;
	right:-15px;
	top:40px;
}

/* AMBASSADORS */
.b-amb {
	position: relative;
	z-index: 2;
	padding-left: 217px;
	margin-top: -10px;
}
.b-amb__title {
	width:853px;
	height:58px;
	background:url(../img/amb-title.png) no-repeat;
	margin-left:115px;
}

.b-amb__title-label {
	color:#42234c;
	font-size:24px;
	font-style:italic;
	text-shadow:1px 1px 1px #eee;
	float:left;
	line-height:50px;
	margin:0;
	padding:0 0 0 70px
}

.b-amb__title-label.m-2 { padding-left:427px }

.b-amb__types {
	list-style:none;
	padding:5px 0 0;
	margin:0;
}
.b-amb__type { 
	position: relative;
	padding-left: 155px;
	height: 107px;
	width:400px
}
.b-amb__type-logo {
	width:136px;
	height:96px;
	background-repeat:no-repeat;
	position:absolute;
	top:22px;
	left:0;
}
.m-1 .b-amb__type-logo { background-image:url(../img/amb-1.png); }
.m-2 .b-amb__type-logo { background-image:url(../img/amb-2.png); }
.m-3 .b-amb__type-logo { background-image:url(../img/amb-3.png); }

.b-amb__type-title {
	line-height: 132px;
	font-size: 24px;
	font-weight: 700;
	margin: 0;
}
.m-1 .b-amb__type-title { color:#272727 }
.m-2 .b-amb__type-title { color:#927146 }
.m-3 .b-amb__type-title { color:#787878 }

.b-amb__reward {
	position:absolute;
	font-size:23px;
	font-style:italic;
	color:#40224a;
	font-weight:700;
	margin:0;
}

.m-1.b-amb__reward {
	left: 836px;
	top: 199px;
}
.m-2.b-amb__reward {
	left: 1103px;
	top: 197px;
}
.m-3.b-amb__reward {
	left: 853px;
	top: 345px;
}
.m-4.b-amb__reward {
	left: 1087px;
	top: 346px;
}

.b-amb__reward-icon {
	position:absolute;
}

.m-1 .b-amb__reward-icon {
	background:url(../img/amb-reward-1.png) no-repeat;
	width:108px;
	height:99px;
	top: -112px;
	left: 35px;
}
.m-2 .b-amb__reward-icon {
	background:url(../img/amb-reward-2.png) no-repeat;
	width:69px;
	height:66px;
	top: -90px;
	left: 15px;
}
.m-3 .b-amb__reward-icon {
	background:url(../img/amb-reward-3.png) no-repeat;
	width:111px;
	height:81px;
	left: 16px;
	top: -93px;
}
.m-4 .b-amb__reward-icon {
	background:url(../img/amb-reward-4.png) no-repeat;
	width:72px;
	height:86px;
	left: 29px;
	top: -103px;
}

.b-amb__baloon {
	background: url("../img/baloon.png") no-repeat scroll 0 0 transparent;
	display: none;
	height: 111px;
	left: 410px;
	margin-top: -78px;
	padding-top: 25px;
	position: absolute;
	top: 40px;
	width: 344px;
	z-index: 5;
}

.b-amb__baloon p { 
	color:#777777;
	font-size:20px;
	margin:0 0 20px;
	padding:0 0 0 44px;
	font-style:italic;
	line-height:20px;
}

.b-amb__type:hover .b-amb__baloon {
	display:block;
}

.b-exmp__label {
	color: #343432;
	line-height: 24px;
	font-size: 24px;
	margin: 0;
	position: absolute;
	z-index: 2;
	font-weight: 700;
	text-align: center;
}

.b-exmp__label {  }

.b-exmp__label img { display:block; position: relative; }

.b-exmp__label.m-1 {
	left: 259px;
	top: 148px;
}

	.b-exmp__label.m-1 img {
		left: 33px;
		top: -8px;
	}

.b-exmp__label.m-2 {
	left: 625px;
	top: 153px;
}

	.b-exmp__label.m-2 img {
		top: -14px;
		left: 12px;
	}
	
.b-exmp__label.m-3 {
	left: 940px;
	top: 149px;
}

	.b-exmp__label.m-3 img {
		left: 54px;
		top: -9px;
	}

.b-exmp__label.m-4 {
	left: 107px;
	top: 364px;
}

	.b-exmp__label.m-4 img {
		top: -10px;
		left: 40px;
	}
	
.b-exmp__label.m-5 {
	left: 450px;
	top: 342px;
}

	.b-exmp__label.m-5 img {
		top: -4px;
		left: 47px;
	}
	
.b-exmp__label.m-6 {
	left: 797px;
	top: 356px;
}

	.b-exmp__label.m-6 img {
		top: -10px;
		left: 69px;
	}
	
/* MOVEMENTS PAGE */
.b-mvmts {
	position: relative;
	top: -26px;
	padding-left: 314px;
	z-index:3;
}

.b-mvmts__title {
	width: 683px;
	background: url(../img/mvmts-dot.png) 0 50% repeat-x;
	font-size: 26px;
	color: #ad9d88;
	margin: 0 0 0 110px;
	padding: 0;
}

.b-mvmts__title span {
	line-height: 22px;
	background: #fff;
	padding: 13px 0;
	margin-left:164px;
}

.b-mvmts__list {
	padding:0;
	margin:30px 0 0;
	list-style:none;
}

.b-mvmts__li {
	width:206px;
	height:179px;
	float:left;
	margin-right:27px;
	margin-bottom:20px;
	background:url(../img/mvmts-bg.png) no-repeat;
}

.b-mvmts__li.m-4,
.b-mvmts__li.m-8 { margin-right:0; }

.b-mvmts__list-title {
	line-height:50px;
	color:#fff;
	text-align:center;
	font-size:18px;
	text-shadow:1px 1px 1px #777;
	margin:0;
	padding:0;
	font-weight:100
}
	.b-mvmts__list-img { margin:9px 0 0 41px; display:block }